#mi-header {
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }
  
  .search-container input[type="text"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .search-container button[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .logo {
    background-image: url(logo.png);
  }
  
  
#mi-main{
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#mi-nav{
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

h1  {
    color:rgb(255, 255, 255);
    text-align: left;
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #0a0a0a;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgb(160, 160, 160);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgb(255, 255, 255), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.thumbnail {
    width: 435px;
    height: 435px;
    background-color: #f2f2f2;
    display: inline-block;
    margin: 10px;
  }

  #menu-hamburguesa {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    width: 100px;
    height: 100%;
    padding: 20px 0;
  }
  
  #menu-hamburguesa a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  #menu-hamburguesa p {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }


